@charset "shift_jis";

/* ============================================================= 
   全体のフォントサイス
------------------------------------------------------------- */
body { font-size: 80%; }

/* ============================================================= 
   ヘッダーブロック　文字色を変更
------------------------------------------------------------- */

/* 見出し */
h1 { color: #666; }
h2 { color: #fff; }

/* ロゴ */
.logo { color: #000; }
.logo a { color: #000; }
.logo a:hover { color: #06c; }

/* 概要 */
.description { color: #fff; }

/* グローバルナビゲーション */
.globalnavi a { color: #000; }
.globalnavi a:hover { color: #06c; }

/* =============================================================
   コンテンツブロック　文字色を変更
------------------------------------------------------------- */

/* 見出し */
h3 { color: #06c; }
h4,h5,h6 { color: #06c; }

/* =============================================================
   サイドバーブロック　文字色を変更
------------------------------------------------------------- */
	 
/* サブメニュー 見出し */
.localnavi p { color: #06c; }

/* サブメニュー リンク部分 */
.localnavi a { color: #333; }
.localnavi a:hover { color: #c33; }

/* お知らせ 見出し */
.sideinfo dt { color: #06c; }

/* お知らせ リンク部分 */
.sideinfo dd { color: #333; }

/* =============================================================
   フッターブロック　文字色を変更
------------------------------------------------------------- */

#footer { color: #fff; }

/* =============================================================
   トップページ　文字色を変更
------------------------------------------------------------- */

/* 見出し */
.headline { color: #06c; }

/* 画像部分 見出し */
.top-btn span { color: #06c; }

/* 画像部分 テキスト */
.top-btn p { color: #333; }

/* 画像部分 リンク */
.top-btn a { color: #000; }

.top-btn a:hover { color: #06c; }

/* 新着情報部分　日付 */
.information span { color: #666; }

/* 新着情報部分　リンク */
.information a { color: #06c; }

.information a:hover { color: #f00; }

/* 新着情報ページ部分　日付 */
.entryday { color: #666; }

/* 新着情報ページ部分　タイトル */
.entry h3 { color: #06c; }
